.class {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__list {
        list-style: none;
        padding: 2rem;

        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        padding: 1.5rem 3rem;
        box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
        border-radius: 5px;
        margin: 1.5rem;
        min-width: 35rem;

        &_header {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            padding-bottom: 1rem;

            &--main {
                font-size: 2rem;
                font-weight: 600;
            }

            &--sub {
                font-size: 1.1rem;
                font-weight: 500;
                color: $color-grey-mediumDark;

                span {
                    font-size: 1.4rem;
                    text-transform: uppercase;
                }
            }
        }

        &_details {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            text-transform: uppercase;
            font-size: 1.2rem;
            padding-bottom: 1rem;

            &--time {
                min-width: 20rem;
                font-weight: 500;
            }

            &--seats {
                font-weight: 600;
                color: #55c57a;
            }

        }

        &_type {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            text-transform: uppercase;
            padding-bottom: 1rem;
            color: $color-grey-mediumDark;

            &--category {
                font-size: 1.2rem;
                min-width: 20rem;
            }

            &--value {
                font-size: 1.3rem;
                font-weight: 500;
                color: $text-color;
            }
        }
    }
}